{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "ElectronEnergyResolution" : {
            "inputs" : ["single_electron"],
            "path"  : "$BIC_MOBO/objectives",
            "exec"  : "BICClustEneReso.py",
            "rule"  : "python <EXEC> -i <RECO> -o <OUTPUT> -s 11",
            "stage" : "ana",
            "goal"  : "minimize"
        },
        "eta_resolution_11" : {
            "inputs"    : ["single_electron"],
            "path"      : "$BIC_MOBO/objectives",
            "exec"      : "BICHitAngReso.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT> -s 11 -c eta",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        },
        "rejection_power_-211" : {
            "inputs"    : ["single_electron", "single_piminus"],
            "path"      : "$BIC_MOBO/objectives",
            "exec"      : "BICEPScan.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT> -a 11 -r -211",
            "stage"     : "ana",
            "goal"      : "maximize",
            "threshold" : 10.0
        }
    }
}
